
<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Микрополь
    </div>
    <img src="/assets/micro.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        Первой премьерой Томского театра драмы в новом 169-м сезоне стал спектакль по новой пьесе культового российского автора Евгения Водолазкина.

        Этого петербургского романиста по праву называют «живым классиком». Его произведения переведены на десятки языков, а роман «Лавр» вошел в топ-10 лучших книг в мире о боге.

        Пьеса «Микрополь» совсем свежая, она была закончена в конце мая. Томичи стали первыми, кто увидел эту пьесу на театральной сцене.

        Как признается сам писатель, это драматическое произведение создано в совершенно новом и нетривиальном формате: в пьесе есть античный колорит
        и доля здорового абсурда (так, например, зрителю предстоит встретиться с хором обманутых дольщиков), но вместе с тем в ней затрагиваются современные
        и актуальные проблемы.

      </div>

      <div [ngClass]="{text2:true}">
        Премьера состоялась 7 сентября 2019 года<br>
        Жанр:	Любовь, политика, абсурд<br>
      </div>
      <a href="http://www.tomskdrama.ru/performance/detail.php?ID=4197"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Недоросль
    </div>
    <img src="/assets/nedorosl.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        «Недоросль» – пьеса смешная, язвительная, но, как всякое произведение,
        пережившее столетия читательского и сценического интереса, она дает повод и для серьёзных размышлений.

        Постановочный коллектив Томского театра драмы поставил перед собой задачу, не изменяя текста и характеристик персонажей,
        проследить связи и рифмы проблем восемнадцатого века и века двадцать первого. И возможно, найти в пьесе отражения сегодняшнего дня.
      </div>

      <div [ngClass]="{text2:true}">
        Премьера состоялась 7 апреля 2019 года <br>
        Жанр:	Трагифарс<br>
      </div>
      <a href="http://www.tomskdrama.ru/performance/detail.php?ID=4115"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Безымянная звезда
    </div>
    <img src="/assets/zvezda.png" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        В маленьком провинциальном городке, далеком от соблазнов мегаполиса, однажды останавливается столичный
        поезд, и на перроне появляется прекрасная незнакомка. Роскошно одетая столичная красавица оказалась здесь
        случайно - без денег и надежды на ночлег. Загадочной незнакомке предлагает помощь и приют скромный и
        одинокий учитель космографии.

        У нее есть все богатства мира, о которых можно только мечтать, а у него нет ничего, кроме бездонного неба, на
        котором сияет недавно открытая им, никому еще неизвестная, безымянная звезда...
      </div>

      <div [ngClass]="{text2:true}">
        Премьера состоялась 25 января 2019 года <br>
        Жанр:	мелодрама <br>
      </div>
      <a href="http://www.tomskdrama.ru/performance/detail.php?ID=4083"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Очень простая история
    </div>
    <img src="/assets/ochen.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        "Очень простая история" была дебютной пьесой молодого автора, но поставлена в очень многих театрах страны и за рубежом.

        Такая популярность у сегодняшнего театра, а прежде всего у зрителя, объясняется тем, что рассказана простая, смешная,
        трогательная, действительно почти сказочная история про то, что мир един и неделим, а души бессмертны. И вся природа –
        это вот такой общий хлев мироздания, в котором всё живёт и ничто никуда не девается: мы с вами, вы с нами и все мы вместе.

        Да, действие пьесы происходит в хлеву. Здесь встречаются молодые влюблённые, потому что их родители против этих встреч.
        Рядом мирно сосуществуют разные твари. Петух – наподобие мультипликационного попугая Кеши – исполняет попурри из песен и текстов,
        услышанных им по радио. Нежная и влюблённая в жизнь Свинья мечтает о полётах во сне и наяву, а ещё мудрая Лошадь, а также Пёс,
        Корова…Они узнают, что Даша и Алёшка ждут ребёнка, а отец Даши требует от него избавиться. Все оказываются вовлеченными в происходящее,
        и каждый готов пожертвовать собой и стать ангелом-хранителем ещё не появившегося на свет малыша.

        И начинаются чудеса! Ведь вы, конечно, знаете, что хлев - не просто место, в котором обитают животные…
      </div>

      <div [ngClass]="{text2:true}">
        Премьера состоялась 25 января 2019 года <br>
        Жанр:	О грустном и смешном в двух действиях <br>
      </div>
      <a href="http://www.tomskdrama.ru/performance/detail.php?ID=4027"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Тайны кулис
    </div>
    <img src="/assets/tay.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        сем известно, что театр – явление магическое, а из зрительного зала многие вещи кажутся необъяснимыми.
        Мы решили дать публике возможность узнать некоторые подробности рождения спектаклей.

        Присутствующие на "Тайнах кулис" – больше, чем зрители, у них есть возможность принять участие в мастер-классах и тренингах.
        Артисты театра покажут, как правильно делать речевую гимнастику и продемонстрируют упражнения по технике речи.
        А самые смелые зрители даже смогут принять участие в репетиции спектакля.
      </div>

      <div [ngClass]="{text2:true}">
        Премьера состоялась 15 мая 2018 года<br>
        Жанр:	Театральные этюды (закулисье) <br>
      </div>
      <a href="http://www.tomskdrama.ru/performance/detail.php?ID=4183"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Все мои сыновья
    </div>
    <img src="/assets/sons.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        Один из сыновей Джо Келлер и Кэт Келлер три года назад пропал без вести, никто уже не верит в то,
        что он жив, кроме матери. Вернувшийся с войны невредимым второй сын – Крис – приглашает в дом Энн,
        невесту пропавшего брата. Он хочет на ней жениться. Он устал подчиняться во всём матери и беречь её чувства в ущерб своим интересам.
        Мать же во всём видит знаки продолжения жизни своего Ларри. Пытаясь убедить всех в своей правоте, она не замечает,
        что Энн и впрямь приехала не ради исчезнувшего Ларри. Однако свадьбе мешает не только тень брата, но и давнее дело старших…

      </div>

      <div [ngClass]="{text2:true}">
        Премьера состоялась 1 апреля 2018 года <br>
        Жанр:	Драма в двух действиях <br>
      </div>
      <a href="http://www.tomskdrama.ru/performance/detail.php?ID=3979"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>


