
.btn {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background:  #1E90FF;
  padding: .7em 1.5em;
  border: none;
  outline: none;
  left: 0;
}
.btn:hover { background: #4169E0; cursor: pointer }
.btn:active { background: #6495ED; }
.class{
  background:  #1E90FF;
  width: 100%;
  height: 67px;
}
.class1{
  background:  #1E90FF;
  width: 100%;
  height: 67px;
  position: relative;
  bottom: 0;
  left: 0;
  clear:both;
}

body {
  height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  position: relative;
}

.btn1 {
  position: relative;
  float: right;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background:  #1E90FF;
  text-align: center;
  border-radius: 30px;
  outline: none;
}
.btn1:hover { background: #4169E0; cursor: pointer }
.btn1:active { background: #6495ED; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax:hover{
  cursor: pointer;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep {
  transform: translateZ(-1px) scale(2);
}
.class2{
  text-align: center;
  margin: 15px;
  padding: 5px;
}
.class3{
  width: 375px;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  margin: 15px;

}
.class3 img{
transition: 1s; /* Время эффекта */
display: block;

}
.class3 img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.class4{
  width: 250px;
  height: 375px;
  display: inline-block;
  overflow: hidden;
  margin: 15px;

}
.class4 img{
  transition: 1s; /* Время эффекта */
  display: block;

}
.class4 img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

