<div [ngClass]="{wrapper:true}">
<div [ngClass]="{class:true}">
  <button [ngClass]="{btn:true}"><img src="assets/search.png"
                                                          style="height: 25px; width: 25px"></button>
  <a href=" "> <button [ngClass]="{btn:true}">афиша</button> </a>

  <a href="/kino"> <button [ngClass]="{btn:true}">кино</button> </a>
  <a href="/teatr"> <button [ngClass]="{btn:true}">театр</button> </a>
  <a href="/vistavki"> <button [ngClass]="{btn:true}">выставки</button> </a>
  <a href="/koncerti"> <button [ngClass]="{btn:true}">концерты</button> </a>

</div>

  <div [ngClass]="{content:true}">

<router-outlet>

</router-outlet>

  </div>

    <div [ngClass]="{class1: true}">
  <button [ngClass]="{btn1:true}"><img src="assets/inst.png"
  style="height: 45px; width: 45px"></button>
  <button [ngClass]="{btn1:true}"><img src="assets/vk.png"
                                       style="height: 45px; width: 45px"></button>
  <button [ngClass]="{btn1:true}"><img src="assets/face.png"
                                       style="height: 45px; width: 45px"></button>
  <button [ngClass]="{btn1:true}"><img src="assets/you.png"
                                       style="height: 45px; width: 45px"></button>

</div>
</div>
