.class1 {
  position:relative;
  height:450px;
  width:315px;
  margin: 70px;

}
.class2{
  display:none;
  background: rgba(35, 34, 34, 0.7);
  top: 20px;
  left: 20px;
  position: absolute;
  height: 450px;
  width: 315px;
  text-align: center;
  color: #e2e8fe;
  font-size: 20px;
  overflow: hidden
}
.class1:hover .class2{
  display:block;
}
.class3{
  display:none;
  top: 37px;
  position: absolute;
  height: 550px;
  width: 355px;
  background: rgba(255,255,255,0.7);
  left: -20px;
  border-radius: 10px;
}
.class1:hover .class3{
  display:block;
}
.text2{
  position: absolute;
  bottom: 0;
  padding:5px;
  line-height: 180%;
}
.btn{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  border-radius: 4px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #fff;
  width:55px;
  background-color: rgb( 43, 153, 91 );
  border: 1px solid rgb( 33, 126, 74 );
}
.btn:hover{
  background-color: rgb( 75, 183, 141 );
  cursor: pointer;
}
.text{
text-align: center;
  font-size: 30px;
  padding: 10px;
  color: rgb(216,13,223);
}
