
<div style="float: left">
<div [ngClass]="{class1:true}">
  <div [ngClass]="{text:true}">
    Акварель (12+)
  </div>
  <img src="/assets/aqua.jpg" style="width: 315px; height: 450px">
<div [ngClass]="{class3:true}">
  <div [ngClass]="{class2:true}">
    «Это её мир, а мы лишь живём в нём»
    «Акварель» погружает зрителя в подлинно кинематографическое путешествие по преобразующей красоте и необузданной мощи воды. Снятый в новаторском формате 96 кадров/сек, этот фильм — работающее на интуитивном уровне предупреждение, что человек — ничто по сравнению с чистой силой и изменчивой волей самого драгоценного элемента Земли.

    Вода — главный герой «Акварели», и режиссер Виктор Косаковский запечатлевает ее множественные формы — от опасных замерзших вод Байкала и страдающего от урагана «Ирма» Майами до мощного водопада Анхель в Венесуэле — с потрясающей четкостью изображения, которая особенно заметна в движении.
  </div>

  <div [ngClass]="{text2:true}">
    В прокате:	c 3 октября по 16 октября<br>
    Жанр:	документальный<br>
  </div>
  <a href="https://kinomax.tomsk.ru/filmbase/2662/"> <button [ngClass]="{btn:true}">Билет</button></a>
</div>
</div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Люби их всех (18+)
    </div>
    <img src="/assets/lubi.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        У нее всегда есть план. Для каждого свой. Для каждого свое имя. Одному нужна Вера. Другому - Надежда. И почти всем Любовь. Она уходит от каждого в свой срок. Она найдет причину.

        Но кто знает, где кончается обман, на который идут только ради денег, и начинается настоящее чувство? И кто знает кто она: простая столичная содержанка, коварная мошенница, талантливая актриса или женщина, которая умеет (только) любить? Любить их всех.

        Номинации и награды
        2019 30 ОРКФ "Кинотавр", Сочи - Основной конкурс - участие
      </div>

      <div [ngClass]="{text2:true}">
        В прокате:	c 3 октября по 16 октября<br>
        Жанр:	драма, триллер<br>
      </div>
      <a href="https://kinomax.tomsk.ru/filmbase/2655/"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}" style="top: -10px">
    <div [ngClass]="{text:true}" style="font-size: 20px">
      Ты умеешь хранить секреты? (16+)
    </div>
    <img src="/assets/ti.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}" style="top: 47px">
      <div [ngClass]="{class2:true}">
        «Возможна ли правда между мужчиной и женщиной?»
        У каждой девушки есть секреты, которыми она ни с кем не поделится,
        кроме, пожалуй, симпатичного незнакомца в самолете. Но как же тесен мир,
        и что делать, если этот красавец вдруг окажется вашим новым начальником?
        Милые дамы, не забывайте — все, что вы рассказываете мужчине, однажды может
        обернуться против вас…
      </div>
      <div [ngClass]="{text2:true}">
        В прокате:	c 3 октября по 16 октября<br>
        Жанр:	мелодрама, комедия <br>
      </div>
      <a href="https://kinomax.tomsk.ru/filmbase/2656/"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

<div style="float: left">
  <div [ngClass]="{class1:true}">
    <div [ngClass]="{text:true}">
      Эверест (6+)
    </div>
    <img src="/assets/ever.jpg" style="width: 315px; height: 450px">
    <div [ngClass]="{class3:true}">
      <div [ngClass]="{class2:true}">
        «Поверь в волшебство»
        Однажды на улицах большого города Лу встречает очень милого монстра.
        Гонимые преследованием учёными из секретной лаборатории, они вынуждены отправиться на Эверест.
        Именно там находится настоящий дом нового друга Лу, который умеет творить настоящие чудеса.
        Поэтому даже самое опасное путешествие становится увлекательным...
      </div>

      <div [ngClass]="{text2:true}">
        В прокате:	c 3 октября по 16 октября<br>
        Жанр:	комедия, мультфильм,<br>
        приключения, семейный, фэнтези<br>
      </div>
      <a href="https://kinomax.tomsk.ru/filmbase/2634/"> <button [ngClass]="{btn:true}">Билет</button></a>
    </div>
  </div>
</div>

    <div style="float: left">
      <div [ngClass]="{class1:true}">
        <div [ngClass]="{text:true}">
          Джокер (18+)
        </div>
        <img src="/assets/jok.jpg" style="width: 315px; height: 450px">
        <div [ngClass]="{class3:true}">
          <div [ngClass]="{class2:true}">
            «Сделай счастливое лицо»
            Артур Флек, скромный и незаметный человек, возвращается в Готэм-Сити после продолжительного отсутствия. Неудачливый комик планирует поухаживать за стареющей матерью, перевести дыхание и попытаться вновь запустить свою карьеру юмориста. Его мало волнует, что происходит вокруг.
            Но в прошлом Артура скрыт секрет: история Флеков каким-то образом связана с Уэйнами, богатейшей семьей Готэма.
            В конечном итоге эта тайна заставит Артура отбросить цивилизованный облик и принять новую и совсем иную роль — Джокера, клоуна-принца преступного мира.

            «Джокер» - фильм в жанре психологического триллера. Главную роль культового злодея исполнил Хоакин Феникс. Это первый в истории фильм, основанный на комиксах, который получил подобную награду.

            Номинации и награды
            Венецианский международный кинофестиваль, 2019:
            «Золотой лев» - главный приз лучшему фильму фестиваля.
          </div>

          <div [ngClass]="{text2:true}">
            В прокате:	c 3 октября по 16 октября<br>
            Жанр:	драма, криминал, триллер <br>
          </div>
          <a href="https://kinomax.tomsk.ru/filmbase/2633/#content"> <button [ngClass]="{btn:true}">Билет</button></a>
        </div>
      </div>
    </div>

    <div style="float: left">
      <div [ngClass]="{class1:true}">
        <div [ngClass]="{text:true}">
          Волшебник (12+)
        </div>
        <img src="/assets/vol.jpg" style="width: 315px; height: 450px">
        <div [ngClass]="{class3:true}">
          <div [ngClass]="{class2:true}">
            В прошлом популярный рок-музыкант Фима влачит жалкое существование,
            растратив свой талант и предаваясь разгульному образу жизни.
            Все меняется, когда уроки на гитаре у него начинает брать мальчик Рома,
            страдающий ДЦП и отчаянно жаждущий завоевать сердце своей одноклассницы Маши.
          </div>

          <div [ngClass]="{text2:true}">
            В прокате:	c 3 октября по 16 октября<br>
            Жанр:	комедия, драма <br>
          </div>
          <a href="https://kinomax.tomsk.ru/filmbase/2653/"> <button [ngClass]="{btn:true}">Билет</button></a>
        </div>
      </div>
    </div>


