<div [ngClass]="{content:true}">
  <div style="margin: 15px">
    <mwl-calendar-month-view
      [viewDate]="viewDate"
      [events]="events"
    [activeDayIsOpen]="viewDate"
    >
    </mwl-calendar-month-view>
  </div>
  <div [ngClass]="{class2:true}">
    <div class="parallax">
      <div class="parallax__layer parallax__layer--back">
        <img src="assets/4.jpg" style="width: 100%; height: 100%;">
      </div>
      <div class="parallax__layer parallax__layer--base">
        <img src="assets/3.jpg" style="width: 100%; height: 100%;">
      </div>
    </div>
  </div>

  <div [ngClass]="{class4:true}">
    <img src="/assets/11.jpg" style="height: 100%; width: 100%;">
    <div [ngClass]="{class7:true}"> <<<
      <div [ngClass]="{class8:true}">
        бла бла бла
        <button> button </button>
      </div>
    </div>
  </div>

  <div [ngClass]="{class4:true}">
    <img src="/assets/12.jpg" style="height: 100%; width: 100%;">
    <div [ngClass]="{class7:true}"> <<<
      <div [ngClass]="{class8:true}">
        бла бла бла
        <button> button </button>
      </div>
    </div>
  </div>

  <div [ngClass]="{class3:true}">
    <img src="assets/13.jpg" style="width: 100%; height: 100%;" >
    <div [ngClass]="{class5:true}"> <<<
      <div [ngClass]="{class6:true}">
        бла бла бла
        <button> button </button>
      </div>
    </div>
  </div>
  <div [ngClass]="{class3:true}">
    <img src="assets/4j.gif" style="width: 100%; height: 100%;" >
    <div [ngClass]="{class5:true}"> <<<
    <div [ngClass]="{class6:true}">
      бла бла бла
      <button> button </button>
    </div>
    </div>

  </div>
  <div [ngClass]="{class3:true}">
    <img src="assets/14.jpg" style="width: 100%; height: 100%;" >
    <div [ngClass]="{class5:true}"> <<<
      <div [ngClass]="{class6:true}">
        бла бла бла
        <button> button </button>
      </div>
    </div>
  </div>
</div>
