
.btn {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background:  #1E90FF;
  padding: .7em 1.5em;
  border: none;
  outline: none;
  left: 0;
}
.btn:hover { background: #4169E0; cursor: pointer }
.btn:active { background: #6495ED; }
.class{
  background:  #1E90FF;
  width: 100%;
  height: 67px;
}
.class1{
  background:  #1E90FF;
  width: 100%;
  height: 67px;
  position: absolute;
  bottom: 0;
  left: 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  height: auto; min-height: 100%;
}
.wrapper {
  position: relative;
  min-height: 100%;
}
.content {
  position: relative;
  padding-bottom: 90px;
  margin: 100px;
}

.btn1 {
  float: right;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  background:  #1E90FF;
  text-align: center;
  border-radius: 30px;
  outline: none;
}
.btn1:hover { background: #4169E0; cursor: pointer }
.btn1:active { background: #6495ED; }

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax:hover{
  cursor: pointer;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--base {
  transform: translateZ(0);
}

.parallax__layer--back {
  transform: translateZ(-1px) scale(2);
}
.parallax__layer--deep {
  transform: translateZ(-1px) scale(2);
}
.class2{
  text-align: center;
  margin: 15px;
  padding: 5px;
}
.class3{
  width: 375px;
  height: 250px;
  display: inline-block;
  overflow: hidden;
  margin: 15px;
}
.class3 img{
  transition: 1s; /* Время эффекта */
  display: block;

}
.class3 img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.class4{
  width: 250px;
  height: 375px;
  display: inline-block;
  overflow: hidden;
  margin: 15px;

}
.class4 img{
  transition: 1s; /* Время эффекта */
  display: block;

}
.class4 img:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.class5{
  position: relative;
  float: right;
  top: -200px;
  background: green; /* цвет фона */
  width: 30px; /* ширина блока */
  height: 40px; /* высота блока */
  font: 14px Arial; /* размер и тип шрифта */
  color: #fff; /* цвет текста */
  text-align: center; /* выравнивание текста по центру */
  padding: 5px; /* отступы от границ внутри блока */

  -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.class6{
  position: relative;
  float: right;
  top: -23px;
  right: -224px; /* отступ слева */
  background: lavender; /* цвет фона */
  color: #000; /* цвет текста */
  width: 200px; /* ширина блока */
  height: 35px; /* высота блока */
  padding: 10px; /* отступы от границ внутри блока */
  text-align: left; /* выравнивание текста */

  -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.class5:hover{
  right: 219px;
}
.class7{
  position: relative;
  float: right;
  top: -350px;
  background: green; /* цвет фона */
  width: 30px; /* ширина блока */
  height: 40px; /* высота блока */
  font: 14px Arial; /* размер и тип шрифта */
  color: #fff; /* цвет текста */
  text-align: center; /* выравнивание текста по центру */
  padding: 5px; /* отступы от границ внутри блока */

  -webkit-transition-duration: 0.3s; /* анимационное выдвижение для всех браузеров*/
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;

  -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.class8{
  position: relative;
  float: right;
  top: -23px;
  right: -204px; /* отступ слева */
  background: lavender; /* цвет фона */
  color: #000; /* цвет текста */
  width: 180px; /* ширина блока */
  height: 35px; /* высота блока */
  padding: 10px; /* отступы от границ внутри блока */
  text-align: left; /* выравнивание текста */

  -webkit-transition-duration: 1s; /* анимационное выдвижение для всех браузеров*/
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;

  -webkit-border-radius: 5px 0 0 5px; /* закругление границ для всех браузеров*/
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}
.class7:hover{
  right: 199px;
}
